.bounce-in {
    opacity: 0;
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
    -webkit-animation-duration: 450ms;
            animation-duration: 450ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.bubble {
    font-size: 8px;
    width: 128px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 1.2;

    &:nth-child(1) {
        -webkit-animation-delay: .5s;
                animation-delay: .5s;
    }
    &:nth-child(2) {
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
    }
    &:nth-child(4) {
        -webkit-animation-delay: 3s;
                animation-delay: 3s;
    }
    &:nth-child(5) {
        -webkit-animation-delay: 3.5s;
                animation-delay: 3.5s;
    }
    &:nth-child(6) {
        -webkit-animation-delay: 4.5s;
                animation-delay: 4.5s;
    }
    &:nth-child(7) {
        -webkit-animation-delay: 5.5s;
                animation-delay: 5.5s;
    }
    &:nth-child(8) {
        -webkit-animation-delay: 5.5s;
                animation-delay: 5.5s;
    }

    &--left {
        color: $chat-left;
        background-color: rgba(216, 158, 255, .15);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 4px;
    }

    &--right {
        color: $chat-right;
        background-color: $white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 4px;
        margin-right: 0;
        margin-left: auto;

        &:nth-of-type(5) {
            width: 80px;
            margin-bottom: 1rem;
        }

        box-shadow: 0 9px 4px -4px rgba(211, 211, 211, .3);
    }

    &-container {
        text-align: right;
        margin-bottom: 0;

        -webkit-animation-delay: 2.55s;

                animation-delay: 2.55s;

        &__image {
            width: 2.5rem;
            border-radius: 10px;
            margin-left: 4px;
        }
    }

    &--price {
        width: 160px;
        color: $white;
        padding-right: 1rem;
        background-image: linear-gradient(90deg, $light-magenta, $light-violet);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-of-type(8) {
            margin-bottom: 1rem;
        }

        &__time {
            display: flex;
            align-items: center;

            &::before {
                display: inline-block;
                content: "";
                width: 12px;
                height: 12px;
                margin-right: 8px;
                border-radius: 50%;
                border: 1px solid $sub-heading-app;
            }
        }

        &__amount {
            font-size: 12px;
            font-weight: 700;
        }
    }
}