.section-two {
    margin-bottom: 4rem;
    @include tablet-landscape-up {
        margin-bottom: 0;

        &::after {
            display: block;
            content: "";
            width: 513px;
            height: 85%;
            background-color: rgba(136, 56, 255, .03);
            border-top-right-radius: 16rem;
            border-top-left-radius: 16rem;
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: -13%;
        }
    }

}
.intro {
    text-align: center;
    @include tablet-landscape-up {
        text-align: left;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        color: $main-heading;
    }
    &__paragraph {
        width: 320px;
        color: $paragraph;
        line-height: 1.75;

        @include tablet-landscape-up {
            width: 450px;
        }
    }
}