.section-one {
    margin-top: 4rem;
    margin-bottom: 4rem;
    @include tablet-landscape-up {
        margin-top: 0;
        margin-bottom: 0;
    }

    &::before {
        display: block;
        content: "";
        width: 513px;
        height: 65%;
        background-image: linear-gradient(to left bottom, $light-magenta, $light-violet, $light-violet);
        border-bottom-right-radius: 16rem;
        border-bottom-left-radius: 16rem;
        position: absolute;
        z-index: -10;
        top: 0;
        right: 50%;
        @include tablet-landscape-up {
            height: 88%;
            right: 71%;
        }
    }
}

.fade-in-left {
    -webkit-animation: fade-in-left;
            animation: fade-in-left;
}

.fade-in-right {
    -webkit-animation: fade-in-right;
            animation: fade-in-right;
}
.fade-in-left, .fade-in-right {
    opacity: 0;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.app {
    width: 247px;
    background-color: $app-background;
    border-radius: 2rem;
    border: 9px solid $white;
    box-shadow: 1rem 1rem 2rem 1rem rgba(0, 0, 0, .1);

    &__header {
        height: 4.125rem;
        background-image: linear-gradient(90deg, $light-violet, $light-magenta);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        box-shadow: 0 10px 4px rgba(211, 211, 211, .35);
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;

        &::before {
            display: block;
            content: "";
            width: 60%;
            height: 18px;
            background-color: $white;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
        }

        &-backward {
            width: 4px;
            position: relative;
            margin-right: 8px;

            &::before, &::after {
                display: inline-block;
                content: "";
                width: 2px;
                height: 6px;
                background-color: $white;
                position: absolute;
                left: 0;
            }

            &::before {
                top: 0;
                transform: translate(0, -6px) rotate(30deg);
            }
            &::after {
                bottom: 0;
                transform: translate(0, 5px) rotate(-30deg);
            }
        }

        &-img {
            width: 24px;
            border-radius: 50%;
            border: 1px solid $white;
            margin-right: 8px;
        }
        &-contact {
            display: flex;
            align-items: center;
        }
        &-info {
            p { margin-top: 0; }
        }
        &-name {
            font-size: 11px;
            font-weight: 500;
            color: $white;
            margin-bottom: 3px;
        }
        &-state {
            font-size: 9px;
            color: $sub-heading-app;
            margin-bottom: 0;
        }
        &-dots {
            width: 2px;
            height: 2px;
            background-color: $sub-heading-app;
            box-shadow: 0 3px 0 $sub-heading-app, 0 6px 0 $sub-heading-app;
            transform: translateY(-15px);
        }
    }
    &__chat {
        padding: 4px 8px 10px;

        .input {
            background-color: $white;
            border-radius: 15px;
            padding: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &__message {
                width: 90%;
                border-style: none;
                font-size: 10px;
                padding-left: 14px;

                &:placeholder-shown {
                    color: $placeholder-text;
                }
            }

            &__button {
                display: inline-block;
                width: 24px;
                height: 24px;
                background-color: $submit-button-background;
                border-radius: 50%;

                &::before,
                &::after {
                    display: inline-block;
                    content: "";
                    width: 2.8px;
                    height: 8px;
                    background-color: $white;
                    border-radius: 1.4px;
                }

                &::before {
                    transform: translate(11px, 0) rotate(130deg);
                }

                &::after {
                    transform: translate(8px, 4px) rotate(50deg);
                }
            }
        }
    }
}